# Introduction to Python

![Agile logo](../images/example.png)

In [1]:
print("Hello world!")

Hello world!

The existence of this data file will be checked:

In [2]:
import pandas as pd

df = pd.read_csv("https://kosu-demo.s3.amazonaws.com/data/tops.txt",
                 sep=" ", skiprows=1, names=['Name', 'Depth'])
df

  Name  Depth
0    A    123
1    B    234
2    C    456